* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  /* display: grid; */
  /* display: block; */
}

.container {
  background-image: url("/image/rally-bar-huddle-hpb-desktop-left.webp");
  background-size: 100% auto;
  /* padding-top: 50%; */
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo-image {
  width: 40%;
  height: auto;
}

.font-black {
  color: black !important;
  font-weight: bold !important;
}

.custom-width {
  max-width: 40% !important;
  width: 100%;
}
